.cat-image-wrapper { 
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat-calm {
    height: 600px;
}

.header { 
    font-size: 30px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold   ;
}